## Download and unzip data
## Same dataset used in module 4 so if you already have this dataset you can use it (Jump following two cells).

In [ ]:
!wget http://130.186.13.80:5050/examon_backup_230719_24hours_ipmi_skylake.zip

In [ ]:
!unzip -q examon_backup_230719_24hours_ipmi_skylake.zip

## Read from parquet to pandas filter for JUST node r129c01s01

The all data is big so please use the method that you already know about it from Module 4 or just use filter of parquet read like following:  

`data= pd.read_parquet('examon_backup_230719_24hours_ipmi_skylake/examon_backup_230719_24hours_ipmi_skylake.parq',filters=[('node','=','r129c01s01')]) `

In [9]:
%reset -f 
import pandas as pd 
# data= pd.read_parquet(' ... your path ... /examon_backup_230719_24hours_ipmi_skylake.parq',
#                        filters=[('node','=','r129c01s01')])
data

,chnl,cluster,description,gcluster,group,health,host_group,name,org,part,plugin,state,state_type,timestamp,type,units,value,__index_level_0__,node
0,data,marconi,,,,ok,,Ambient_Temp,cineca,skylake,confluent_pub,,,1563826320035,Temperature,C,32,26177,r129c01s01
1,data,marconi,,,,ok,,Ambient_Temp,cineca,skylake,confluent_pub,,,1563826380006,Temperature,C,32,26178,r129c01s01
2,data,marconi,,,,ok,,Ambient_Temp,cineca,skylake,confluent_pub,,,1563826440034,Temperature,C,32,26179,r129c01s01
3,data,marconi,,,,ok,,Ambient_Temp,cineca,skylake,confluent_pub,,,1563826500034,Temperature,C,32,26180,r129c01s01
4,data,marconi,,,,ok,,Ambient_Temp,cineca,skylake,confluent_pub,,,1563826560032,Temperature,C,32,26181,r129c01s01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86554,data,marconi,,,,ok,,System_Air_Flow,cineca,skylake,confluent_pub,,,1563887220035,Other,CFM,26,167889,r129c01s01
86555,data,marconi,,,,ok,,System_Air_Flow,cineca,skylake,confluent_pub,,,1563887280041,Other,CFM,28,167890,r129c01s01
86556,data,marconi,,,,ok,,System_Air_Flow,cineca,skylake,confluent_pub,,,1563887340025,Other,CFM,25,167891,r129c01s01
86557,data,marconi,,,,ok,,System_Air_Flow,cineca,skylake,confluent_pub,,,1563887400039,Other,CFM,29,167892,r129c01s01
86558,data,marconi,,,,ok,,System_Air_Flow,cineca,skylake,confluent_pub,,,1563887460032,Other,CFM,15,167893,r129c01s01

## Filter out the Ambient_temp

In [6]:
# plaese filter just Ambient_temp form name column

## Covert int timestamp to datatime index

In [ ]:
# In pandas dataframe, convert the integer timestamp (column timestamp) to DateTime
# and then set the timestamp column as the index. 
# (help: unit='ms', you can find all the scripts in the time-series module of lectures)  
df['timestamp'] = ...

In [7]:
# Please be sure that the index is sorted. (help: df.sort_index(inplace=True)

## Set timestamp column as index

In [ ]:
# df = df.set_index(...)
df

## Convert data type of value column to float

In [ ]:
# help: If you have following error : 
# "DataError: No numeric types to aggregate" 
# please google this error or just use  
# df["value"] = pd.to_numeric(df["value"]) 
# for resampling you can find methods and example scripts in the time-series module of lectures. 


# df["value"] = pd.to_numeric(df["value"])

## Sort by datetime index

In [ ]:
# df.sort_index(inplace=True)

## Resampling

In [ ]:
# The original data was collected by the sampling rate of 1 minute. 
# (by looking at the index/timestamp, you can find this). 
# Please resample the dataset with 60+last number of student number minutes 
# (frequency 60 minutes + last number of student number minutes)
# and use the mean as an aggregation method.


# df_resampling = df['value'].resample('60T').mean()
# df_resampling

In [ ]:
# Please use the matplotlib library to generate the plot of the resampled data.  


# from matplotlib import pyplot as plt
# fig, ax = plt.subplots(1,1,figsize=(20,7))
# ax.plot(df_resampling, 'r')
# fig.show()

## ## Simple Moving Average (SMA)

In [ ]:
# Please cancel the impacts of random or short-term fluctuations on the time-series data by calculating the 
# moving average over a 1-hours+ last number of student number minutes  time-window. 
# (help: use pandas dataframe and if you did not remember the methods, check the time-series module of lectures)

In [ ]:
df_ma = pd.DataFrame(df["value"])
df_ma

In [ ]:
# df_ma['SMA'] = df_ma["value"].rolling(window=60).mean()
# df_ma

In [ ]:
# Please show the original data with red color and the moving average results with black color in the same plot. 
# Which one is smoother? Please play with the window parameter and see the change.  


# from matplotlib import pyplot as plt
# fig, ax = plt.subplots(1,1,figsize=(20,7))
# ax.plot(df_ma['value'], 'r-.')
# ax.plot(df_ma['SMA'], 'k')
# fig.show()